{{!-- BASED ON 5bf8c31af40eb62c5051ae76a0657644abcdb348 --}}
{{#unless loading}}
  <div class="user-cover">
    <div {{bind-attr class=':cover-photo hummingbird.loaded::cover-photo-loading'}}
         {{bind-attr style=hummingbird.coverImageStyle}}>
      <div class="dark-overlay"></div>
    </div>
  </div>

  <div class="container relative">
    <div class="row">
      <div class="user-cover-options">
        <div class="col-sm-12 user-wrapper">
          <div class="col-sm-2 col-md-2 user-avatar clearfix">
            <div class="large-avatar">
              {{bound-avatar model 'huge'}}
            </div>
          </div>
          <div class="col-sm-12 col-md-10 no-padding account-wrapper">
            <div class="account-info">
              <div class="bio-wrapper">
                <h2 class="username">
                  {{username}}
                  {{#if title}}
                    <span class="profile-badge">{{title}}</span>
                  {{/if}}
                  {{#if model.isPro}}
                    {{#link-to 'pro'}}<span class="profile-badge">pro</span>{{/link-to}}
                  {{/if}}
                </h2>
                <p class="user-bio">
                  {{hummingbird.bio}}
                </p>
              </div>
            </div>
            <div class="follow-widgets">
              {{#if viewingSelf}}
                {{#if can_edit}}
                  {{#link-to 'preferences' class='btn btn-default btn-lg follow-button save'}}
                    {{fa-icon 'cog'}}
                    {{i18n 'user.preferences'}}
                  {{/link-to}}
                {{else}}
                  <button class="btn btn-default btn-lg follow-button edit" {{action "toggleEditMenu" this}}>
                    <i class="fa fa-pencil"></i> Edit
                  </button>
                {{/if}}
              {{else}}
                {{#if can_send_private_message_to_user}}
                  <button class="btn btn-default btn-lg follow-button message" {{action 'composePrivateMessage' model}}>
                    {{fa-icon 'envelope'}}
                    {{i18n 'user.private_message'}}
                  </button>
                {{/else}}
                {{#if currentUser.staff}}
                  <a {{bind-attr href="adminPath"}} class="btn btn-default btn-lg follow-button">
                    {{fa-icon 'wrench'}}
                    {{i18n 'admin.user.show_admin_profile'}}
                  </a>
                {{/if}}
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="profile-navigation">
    <div class="container">
      <div class="row">
        <ul class="inline-list clearfix">
          <li class="nav-link">
            <a href="https://hummingbird.me/users/{{unbound username}}">Feed</a>
          </li>
          <li class="nav-link">
            <a href="https://hummingbird.me/users/{{unbound username}}/library">Library</a>
          </li>
          <li class="nav-link">
            <a href="https://hummingbird.me/users/{{unbound username}}/groups">Groups</a>
          </li>
          <li class="nav-link">
            <a href="https://hummingbird.me/users/{{unbound username}}/reviews">Reviews</a>
          </li>
          <li class="nav-link">
            <a href="https://hummingbird.me/users/{{unbound username}}/following">
              Following &middot; {{hummingbird.followingCount}}
            </a>
          </li>
          <li class="nav-link">
            <a href="https://hummingbird.me/users/{{unbound username}}/follwers">
              Followers &middot; {{hummingbird.followersCount}}
            </a>
          </li>
          <li class="nav-link">
            <a href="https://forums.hummingbird.me/users/{{unbound username}}/activity" class="active">Forums</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="profile-content">
    <div class="row">
      <div class="secondary-info">
        <div class="user-about-panel">
          <div class="panel-heading">
            <h3 class="panel-title"> About {{username}}</h3>
          </div>
          <div class="panel-body">
            <p class="about">
              {{#if isSuspended}}
                <div class='suspended'>
                  {{fa-icon "ban"}}
                  <b>{{i18n 'user.suspended_notice' date=suspendedTillDate}}</b><br/>
                  <b>{{i18n 'user.suspended_reason'}}</b> {{suspend_reason}}
                </div>
              {{/if}}
              {{{bio_cooked}}}
            </p>
            <div class="user-interests">
              <ul>
                <li>
                  {{#if location}}
                  <div class="interest-icon"> {{fa-icon 'home'}}</div>
                    <div class="interest"> Lives in <strong>{{location}}</strong></div>
                  {{/if}}
                </li>
                <li>
                  {{#if websiteName}}
                    <div class="interest-icon"> {{fa-icon 'link'}}</div>
                    <div class="interest">
                      {{#if linkWebsite}}
                        <a {{bind-attr href=website}} rel="nofollow" target="_blank">{{websiteName}}</a>
                      {{else}}
                        <span {{bind-attr title=website}}>{{websiteName}}</span>
                    </div>
                  {{/if}}
                </li>
              </ul>
            </div>
            {{plugin-outlet "user-profile-primary"}}
          </div>
          <ul class="list-group">
            {{#if last_posted_at}}
              <li class="list-group-item">
                <strong>{{i18n 'user.last_posted'}}:</strong>
                {{bound-date last_posted_at}}
              </li>
            {{/if}}
            {{#if last_seen_at}}
              <li class="list-group-item">
                <strong>{{i18n 'user.last_seen'}}:</strong>
                {{bound-date last_seen_at}}
              </li>
            {{/if}}
            <li class="list-group-item">
              <strong>{{i18n 'user.trust_level'}}:</strong>
              {{trustLevel.name}}
            </li>
            {{#if custom_groups}}
              <li class="list-group-item">
                <strong>{{i18n 'groups.title' count=custom_groups.length}}:</strong>
                {{#each group in custom_groups}}
                  <span>{{#link-to 'group' group class="group-link"}}{{group.name}}{{/link-to}}</span>
                {{/each}}
              </li>
            {{/if}}
          </ul>
        </div>
        {{plugin-outlet "user-profile-secondary"}}

        <ul class="list-group">
          {{!-- TODO: reopen activity-filter class to restyle these --}}
          {{activity-filter class="list-group-item" count=statsCountNonPM user=model userActionType=userActionType indexStream=indexStream}}
          {{#each stat in statsExcludingPms}}
            {{activity-filter class="list-group-item" content=stat user=model userActionType=userActionType indexStream=indexStream}}
          {{/each}}
          {{#if showBadges}}
            {{#link-to 'user.badges' tagName="li" class="list-group-item"}}
              {{#link-to 'user.badges'}}
                <i class='glyph fa fa-certificate'></i>
                {{i18n 'badges.title'}}
                <span class='count'>({{badge_count}})</span>
              {{/link-to}}
            {{/link-to}}
          {{/if}}
        </ul>
        {{#if canSeePrivateMessages}}
          <div class="user-about-panel">
            <div class="panel-heading">
              <h3 class="panel-title">{{i18n 'user.private_messages'}}</h3>
            </div>
            <div class='list-group'>
              {{#link-to 'userPrivateMessages.index' model class="list-group-item"}}
                {{i18n 'user.messages.all'}}
                {{#if hasPMs}}<span class='count'>({{private_messages_stats.all}})</span>{{/if}}
              {{/link-to}}
              {{#link-to 'userPrivateMessages.mine' model class="list-group-item"}}
                {{i18n 'user.messages.mine'}}
                {{#if hasStartedPMs}}<span class='count'>({{private_messages_stats.mine}})</span>{{/if}}
              {{/link-to}}
              {{#link-to 'userPrivateMessages.unread' model class="list-group-item"}}
                {{i18n 'user.messages.unread'}}
                {{#if hasUnreadPMs}}<span class='badge-notification unread-private-messages'>{{private_messages_stats.unread}}</span>{{/if}}
              {{/link-to}}
            </div>
          </div>
        {{/if}}
        {{#if viewingSelf}}
          <div class='user-archive'>
            {{d-button action="exportUserArchive" label="user.download_archive" icon="download"}}
          </div>
        {{/if}}
      </div>
      {{!-- Left column end --}}
      {{!-- Right column start --}}
      <div class='user-feed'>
        {{outlet}}
      </div>
    </div>
  </div>
{{/unless}}
